{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'entity_tile.css' %}">

<style>
    .entity-tile .card {
    border: none; /* Remove the border */
    box-shadow: none; /* Remove any box shadow */
}

.entity-tile .card-img-top {
    width: 100%; /* Use the full width of the card */
    height: 175; /* Maintain aspect ratio */
}

.entity-tile .card-body {
    padding: 0.5rem; /* Adjust the padding as needed */
}

.entity-tile .card-title,
.entity-tile .card-text {
    margin: 0; /* Remove default margins */
}
</style>

<div class="entity-tile">
    <div class="card h-100">
        <div style="position: relative; width: 130px; height: 175px; overflow: hidden;">
            <div style="position: absolute; bottom: 0; width: 100%; height: 100%; display: flex; justify-content: center;">
                <img src="{{ entity_actor.actor.image }}" class="card-img-top" style="width: auto; height: 100%; border-radius: 10px;">
            </div>
        </div>
        
        <div class="card-body">
            <h6 class="card-title">{{ entity_actor.actor.name }}</h6>
            <p class="card-text">
                <!-- <script>
                    var asCharacter = "{{ entity_actor.as_character }}";
                    var index = asCharacter.indexOf('(');
                    if (index !== -1) {
                        asCharacter = asCharacter.substring(0, index);
                    }
                    var slashIndex = asCharacter.indexOf('/');
                    if (slashIndex !== -1) {
                        asCharacter = asCharacter.substring(0, slashIndex);
                    }
                    document.write(asCharacter);
                </script> -->
                <script>
                    var asCharacter = "{{ entity_actor.as_character }}";
                    var firstSpaceIndex = asCharacter.indexOf(' ');
                    if (firstSpaceIndex !== -1) {
                        var secondSpaceIndex = asCharacter.indexOf(' ', firstSpaceIndex + 1);
                        if (secondSpaceIndex !== -1) {
                            asCharacter = asCharacter.substring(0, secondSpaceIndex);
                        }
                    }
                    document.write(asCharacter);
                </script>
                
                
            </p>
        </div>
    </div>
</div>