{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'entity_tile.css' %}">

<!-- <div class="actor-tile" style="width: 18rem;">
    <div class="image-container">
        <img src="{{ entity_actor.actor.image }}" class="card-img-top" alt="..." width="100" height="100">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ entity_actor.actor.name }}</h5>
        <p class="card-text">{{ entity_actor.as_character }}</p>
    </div>
</div> -->

<div class="entity-tile">
    <div class="card h-150">
        <img src="{{ entity_actor.actor.image }}" class="card-img-top" alt="Actor Image">
        <div class="card-body">
            <h5 class="card-title">{{ entity_actor.actor.name }}</h5>
        <p class="card-text">{{ entity_actor.as_character }}</p>
        </div>
    </div>
</div>

<!-- profile tile approach -->
<!-- {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'profile_tile.css' %}">



<a href="" style="text-decoration: none; color: black;">
    <div class="profile-tile">
        <div class="profile-picture">
            <img src="{{ entity_actor.actor.image }}" alt="Profile Picture" class="profile-image">
        </div>
        <p class="username">{{ entity_actor.actor.name }}</p>
        <p class="subtitle">{{ entity_actor.as_character }}</p>
    </div>
</a> -->