{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'entity_tile.css' %}">

<div class="entity-tile">
    <div class="card h-100">
      <img src="{{ entity.image }}" class="card-img-top" alt="Entity Image">
      <div class="card-body">
        <h5 class="card-title">{{ entity.title }}</h5>
        <p class="card-text">{{ entity.description }}</p>
      </div>
      <div class="card-links">
        <a href="{% url 'write_review' entity.id %}" class="card-link card-link-left">Write a Review</a>
      </div>
    </div>
  </div>
  