{% extends 'base.html' %}

{% block content %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'entity_detail.css' %}">

<h2>Entity Detail Page</h2>
</br>

<!-- Entity Information -->
<div class="entity-details">
    <img src="{{ entity.image }}" width="400" height="600" alt="{{ entity.name }} Image">
    <div class="entity-info">
        <h1>{{ entity.title }} {{ entity.year }}</h1>
        <h4>{{ entity.plot }}</h4>
        <h4>Medium: {{ entity.medium }} {{ entity.content_rating }}</h4>
        
            {% if entity.genres %}
                <h4 style="display: inline-block">Genres: </h4>
                {% for genre in entity.genres.all %}
                    <h4 style="display: inline-block">{{ genre.name }}</h4>
                {% endfor %}
                </br>
            {% endif %}

        <h4>Run Time: {{ entity.runtime }}</h4>
        <h4>Overall Score: {{ entity.overall_score }}</h4>
        <h4>Number of Reviews: {{ entity.reviewed }}</h4>
    </div>
</div>
</br>

<!-- Entity Tags -->
{% if entity.tags %}
    {% for tag in entity.tags.all %}
        <div style="display: inline-block; background-color: #f2f2f2; padding: 5px 10px; margin-right: 10px; border-radius: 4px;">{{ tag.name }}</div>
    {% endfor %}
    </br>
{% endif %}
</br>

<!-- Entity Actors -->
<!-- {% if entity.actors %}
    {% for actor in entity.actors.all %}
        <div> {{ actor.name }}</div>
        <div> {{ actor.as_character }}</div>
        
    {% endfor %}
    </br>
{% endif %}
</br> -->

<!-- {% for item in entity_actors %}
    <div> {{ item.actor.name }} as {{ item.as_character }}</div>
{% endfor %}
</br>

</br> -->

<div class="row">
    {% for item in entity_actors %}
        <div class="col-md-2">
            <div class="actor-tile">
                {% include 'content/actor_tile.html' with entity_actor=item %}
            </div>
        </div>
        {% if forloop.counter|divisibleby:5 and not forloop.last %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
</div>
</br>

<!-- Write Review Button -->
<a href="{% url 'write_review' entity.id %}" class="btn btn-outline-primary">Write a Review</a>
</br>
</br>
</br>
</br>
{% endblock %}