{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'entity_tile.css' %}">

<style>
.image-container {
    width: 200px; /* Set the desired width */
    height: 300px; /* Set the desired height */
    overflow: hidden; /* Clip the image to the container dimensions */
    border-radius: 5px; /* Add rounded corners */
}

.cropped-image {
    object-fit: cover; /* Crop the image while maintaining its aspect ratio */
    width: 100%; /* Ensure the image takes the full width of the container */
    height: 100%; /* Ensure the image takes the full height of the container */
}

.overlay-icon {
    position: absolute;
    bottom: 10px; /* Adjust the top position of the overlay icon */
    right: 10px; /* Adjust the right position of the overlay icon */
    color: white; /* Set the color of the overlay icon */
    pointer-events: auto; /* Allow click-through to the underlying image */
    z-index: 1;
}
</style>

<!-- Entity Tiles (Route to entity detail page) -->
<!-- <a href="{% url 'view_entity' entity.id %}" style="text-decoration: none; color: inherit;">
    <div class="entity-tile">
        <div class="card h-100 border-0">
            <div class="image-container">
                <img src="{{ entity.image }}" class="card-img-top cropped-image" alt="Entity Image">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="margin-top: -10px;">{{ entity.title }}</h5>
            </div>
        </div>
    </div>    
</a> -->


    <div class="entity-tile">
        <div class="card h-100 border-0">
            <div class="image-container">
                <a href="{% url 'view_entity' entity.id %}" style="text-decoration: none; color: inherit;">
                    <img src="{{ entity.image }}" class="card-img-top cropped-image" alt="Entity Image">
                </a>
                <!-- <div class="overlay-icon">
                    {% if request.user == user %}
                    
                        {% if entity in watchlater.entities.all %}
                            <a href="{% url 'delete_from_watchlater' entity.id %}" style="text-decoration: none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                    <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                </svg>
                            </a>
                        {% else %}
                            <a href="{% url 'add_to_watchlater' entity.id %}" style="text-decoration: none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                </svg>
                            </a>
                        {% endif %}
                    
                    {% endif %}
                </div> -->
            </div>
            <div class="card-body">
                <h6 class="card-title" style="margin-top: -10px;">{{ entity.title }}</h6>
            </div>
        </div>
    </div>  