<html>
<head>
    <link rel="stylesheet" href="entity_tile.css">
</head>
<div class="tile">
    <img src="entity-photo.jpg" alt="Entity photo">
    <div class="title-rating-container">
      <h2 class="title">Entity Title</h2>
      <div class="rating-container">
        <span class="rating">8.5</span>
        <span class="out-of-ten">/10</span>
      </div>
    </div>
    <div class="friends-container">
      <span class="friends-rated">Friends have rated this entity before</span>
    </div>
    <div class="location-container">
      <span class="location">Location</span>
    </div>
    <div class="playlist-container">
      <img src="add-to-playlist-icon.png" alt="Add to playlist icon">
    </div>
  </div>
  
</html>