{% extends 'base.html' %}



{% block content %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">

<title>The Review</title>
{% if user.is_authenticated %}
  <!-- Display Genre Recommendations Based on Search History -->
  <h3>You may like these based off your search history...</h3>
  <div class="scroll-container">
    {% if genre_recs %}
    <div class="row">
        {% for entity in genre_recs %}
          <div class="col-md-3">
            {% include 'content/entity_tile.html' with entity=entity %}
          </div>
          {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
    {% endif %}
  </div>
{% else %}
{% endif %}

<footer>
<div class="footer-logo">
</div>
<div class="footer-links">
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Privacy Policy</a></li>
  </br>
  </ul>
</div>
<div class="social-links">
  <ul>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Instagram</a></li>
  </ul>
</div>
</footer> 
{% endblock %}