{% extends 'base.html' %}

{% block content %}
<head>
  <title>The Review</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
</head>
<footer>
  <div class="footer-logo">
  </div>
  <div class="footer-links">
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </br>
    </ul>
  </div>
  <div class="social-links">
    <ul>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instagram</a></li>
    </ul>
  </div>
</footer> 
{% endblock %}

<!DOCTYPE html>
<html>
  <head>
    <title>The Review</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
  </head>
  <body>
    <header>

    </header>

    <main>
    </main>

    
  </body>
</html>