{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'nav_bar.css' %}">
<style>
    
</style>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #141A20;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage' %}">The Review</a>
    
        <ul class="navbar-nav ">
            <div class="navbar-center">
            <form class="d-flex" role="search" method=POST action="{% url 'search_entities' %}">
                {% csrf_token %}
                <input class="form-control me-2 outline-input" type="search" placeholder="Search Entities" name="searched" aria-label="Search">
                <button class="btn btn-outline-light" style="outline-color: #E8F1F2;" type="submit">Search</button>
            </form>
        </div>
            {% if request.user.is_authenticated %}
            <div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_profile' request.user.username %}">Profile</a>
                </li>
            </div>
            <!-- <div>
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="nav-link" type="submit">Log Out</button>
                    </form>
                </li>
            </div> -->
            {% else %}
            <div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
            </div>
            <div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            </div>
            {% endif %}
        </ul>
    </div>
  </nav>