.shifted-down {
    margin-top: 20px; /* Adjust the margin as per your needs */
}

.custom-card {
    width: 300px; /* Adjust the width as per your requirement */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

.image-icon {
    width: 20px; /* Adjust the width as needed */
    height: auto; /* The height will automatically adjust based on the image aspect ratio */
    margin-right: 5px; /* Adjust the margin as needed */
    /* Add any additional styling for the image icon */
} 

.review-card {
  display: flex;
}

.image-container {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
}

.image-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  flex: 1;
  padding-left: 10px; /* Adjust as needed */
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}



  
  .review-tile {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  

