{% extends 'base.html' %}



{% block content %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'review_detail.css' %}">

<style>
.header-container {
    display: flex;
    align-items: center;
}

.header-container h2 {
    margin-left: 10px;
}
</style>
    
<div class="header-container">
    <a href="javascript:history.go(-1)">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
    </a>
    <h2>Review by <a href="{% url 'view_profile' review.user.username %}" style="text-decoration: none;">@{{ review.user }}</a></h2>
</div>


</br>

<!-- Entity Details so you know which detail page it is -->
<div class="review-details">
    <a href="{% url 'view_entity' review.entity.id %}">
        <img src="{{ review.entity.image }}" width="110" height="160" style="margin-right: 15px; margin-bottom: 10px" alt="{{ review.entity.name }} Image">
    </a>
    
    <div class="entity-info">
        <a href="{% url 'view_entity' review.entity.id %}" style="text-decoration: none; color: inherit;">
            <h1 style="padding-left: 5px;">{{ review.entity.title }} {{ review.entity.year }}</h1>
        </a>

        <h5 style="padding-left: 5px;">Watched {{ review.created_at }} </h5>
        <h5 style="padding-left: 5px;">Final Rating: {{ review.final_score }}
            {% for _ in "x"|ljust:full_stars %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="margin-top: -5px" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
            {% endfor %}
            {% if half_star_value < 0.7 and half_star_value > 0.3 %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="margin-top: -5px" class="bi bi-star-half" viewBox="0 0 16 16">
                    <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                </svg>
            {% endif %}
            {% if half_star_value > 0.8 %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="margin-top: -5px" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
            {% endif %}
        </h5>
        
        <div style="padding: 5px;">
            {% for tag in review.tags.all %}
                    <div class="tag-tile" style="background-color: #EFCA08;">{{ tag.name }}</div> 
            {% endfor %}
        </div>
    </div>
</div>

<div style="padding-top: 10px; padding-bottom: 10px;">
    {% if request.user == review.user %}
    <a href="#" data-bs-toggle="modal" data-bs-target="#blurbModal" style="text-decoration: none; color: inherit;">
        <h7 style="padding: 5px;">"{{ review.blurb }}"</h7>
    </a>
    {% else %}
        <h7 style="padding: 5px;">"{{ review.blurb }}"</h7>
    {% endif %}
</div>


<div class="modal fade" id="blurbModal" tabindex="-1" aria-labelledby="blurbModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="blurbModalLabel">Edit Blurb</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form method="post" action="{% url 'edit_blurb' review.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <textarea class="form-control" id="new_blurb" name="new_blurb">{{ review.blurb }}</textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary">Update</button>
            </div>
        </form>        
      </div>
    </div>
  </div>
</div>


<!-- <p style="display: inline;">{{ review.number_of_likes }}</p> -->
{% if request.user in review.likes.all %}
    <a href=" {% url 'like_review' review.id %}" style="text-decoration: none; color: inherit;">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
    </a>
{% else %}
    <a href=" {% url 'like_review' review.id %}" style="text-decoration: none; color: inherit;">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>
    </a>
{% endif %}
<h7 style="display: inline; text-decoration: none; color: inherit; padding-right: 10px;">{{ review.number_of_likes }}</h7>


{% if has_commented == True %}
    <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -3px" width="20" height="20" fill="gray" class="bi bi-chat" viewBox="0 0 16 16">
        <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
    </svg>
{% else %}
    <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -3px" width="20" height="20" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
    </svg>
{% endif %}
<h7 style="display: inline; text-decoration: none; color: inherit;">{{ comments.count }}</h7>
</br></br>
<!-- <p style="display: inline;">{{ review.number_of_likes }}</p> -->


<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#writeCommentModal">
    Comment
</button>

<div class="modal fade" id="writeCommentModal" tabindex="-1" aria-labelledby="writeCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="writeCommentModalLabel">Write a Comment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <form method="post" action="{% url 'comment_review' review.id %}">
              {% csrf_token %}
              <div class="mb-3">
                  <textarea class="form-control" id="comment_input" name="comment_input"></textarea>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-primary">Publish</button>
              </div>
          </form>        
        </div>
      </div>
    </div>
  </div>

{% if comments|length > 0 %}
    {% for item in comments %}
        <!-- <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">@{{ item.user.username }} "{{ item.comment }}"</label>
        </div> -->
        <!-- <input class="form-control" type="text" value="@{{ item.user.username }}  &quot;{{ item.comment }}&quot;" aria-label="readonly input example" readonly> -->
        <figure>
            <blockquote class="blockquote">
              <p>{{ item.comment }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              @{{ item.user.username }} <cite title="Number Seen">({{ item.user.profile.seen.count }} Seen)</cite>
            </figcaption>
          </figure>
    {% endfor %}
{% endif %}

</br>
{% if review.user == request.user %}
    <a href="{% url 'delete_review' review.id %}" class="btn btn-outline-danger">Delete Review</a>
{% endif %}

{% endblock %}