{% extends 'base.html' %}



{% block content %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'review_detail.css' %}">

<style>
.header-container {
    display: flex;
    align-items: center;
}

.header-container h2 {
    margin-left: 10px;
}
</style>
    
    <div class="header-container">
        <a href="javascript:history.go(-1)">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
        <h2>Review Detail Page</h2>
    </div>


</br>

<!-- Entity Details so you know which detail page it is -->
<div class="review-details">
    <a href="{% url 'view_entity' review.entity.id %}">
        <img src="{{ review.entity.image }}" width="150" height="225" style="margin-right: 10px;" alt="{{ review.entity.name }} Image">
    </a>
    
    <div class="entity-info">
        <a href="{% url 'view_entity' review.entity.id %}" style="text-decoration: none; color: inherit;">
        <h1>{{ review.entity.title }}</h1>
        <h3>{{ review.entity.description }}</h3>
        </a>
        <h3>review by <a href="{% url 'view_profile' review.user.username %}" style="text-decoration: none;">@{{ review.user }}</a></h3>
    </div>
</div>
</br>

<!-- Display the final rating -->
<h4>Final Rating: {{ review.final_score }}</h4>
</br>

<!-- Loop through tags and display tags that user selected when reviewing -->
<!-- * creating tag tile for each one and then looping and going to next line -->
<h4>Tags</h4>
{% for tag in review.tags.all %}
    <div class="tag-tile">{{ tag.name }}</div> 
{% endfor %}
</br>
</br>

<!-- Display the blurb -->
<h4>Blurb</h4>
<p>{{ review.blurb }}</p>
</br>

{% if request.user != review.user %}
    {% if request.user in review.likes.all %}
        <a href=" {% url 'like_review' review.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
        </a>
    {% else %}
        <a href=" {% url 'like_review' review.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </a>
    {% endif %}
{% endif %}

{% if review.user == request.user %}
    <a href="{% url 'delete_review' review.id %}" class="btn btn-outline-danger">Delete Review</a>
{% endif %}

{% endblock %}