<!DOCTYPE html>
<html>
  <head>
    <title>Review Page</title>
    <link rel="stylesheet" type="text/css" href="review_builder.css">
  </head>
  <body>
    <h1>Write a Review</h1>
    
    <form>
      <label for="medium">Medium:</label>
      <select id="medium" name="medium">
        <option value="movie">Movie</option>
        <option value="tv_show">TV Show</option>
        <option value="book">Book</option>
        <option value="album">Album</option>
        <option value="video_game">Video Game</option>
      </select>
      
      <h2>Rate the Following Features on a Scale of 0-10</h2>
      
      <label for="plot">Category1:</label>
      <input type="number" id="plot" name="plot" min="0" max="10" required><br>

      <label for="characters">Category2:</label>
      <input type="number" id="characters" name="characters" min="0" max="10" required><br>

      <label for="visuals">Category3:</label>
      <input type="number" id="visuals" name="visuals" min="0" max="10" required><br>

      <label for="soundtrack">Category4:</label>
      <input type="number" id="soundtrack" name="soundtrack" min="0" max="10" required><br>
      
      <label for="soundtrack">Category5:</label>
      <input type="number" id="soundtrack" name="soundtrack" min="0" max="10" required><br>
      
      <label for="thoughts">Your Thoughts (200 characters max):</label><br>
      <textarea id="thoughts" name="thoughts" maxlength="200" required></textarea><br>
      
      <button type="submit">Publish Review</button>
    </form>
  </body>
</html>