{% extends 'base.html' %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

{% block content %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'review_detail.css' %}">

<h2>Write a Review For ...</h2>
<div class="review-details">
  <a href="{% url 'view_entity' entity.id %}">
      <img src="{{ entity.image }}" width="150" height="225" style="margin-right: 10px;" alt="{{ entity.name }} Image">
  </a>
  
  <div class="entity-info">
      <a href="{% url 'view_entity' entity.id %}" style="text-decoration: none; color: inherit;">
      <h1>{{ entity.title }}</h1>
      <h3>{{ entity.description }}</h3>
      </a>
  </div>
</div>
</br>
</br>

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'write_review.css' %}">
<style>
    
</style>

<!-- Review Form -->
<form method="POST" action="{% url 'write_review' entity.id %}" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Final Score Input -->
    <div class="form-input-container">
        <div class="form-label-container">
          <h4 class="form-label">How many stars do you give it?</h4>
          <span id="sliderValue">0</span>
        </div>
        <input type="range" class="form-range" step="0.1" min="0" max="5" id="final_score" name="final_score">
    </div>
    </br>

    <!-- Category Input -->
    {% if categories %}
    <h4 class="form-label">Would you like to shout out any particular aspects?</h4>
    <div>
         {% for category in categories %}
         <div class="card">
             <div class="card-body">
               <div class="btn-group" role="group" aria-label="Category Feedback">
                 <h5 class="card-title">{{ category.name }}</h5>
                 <button type="button" class="btn btn-toggle" data-tile="{{ forloop.counter }}" data-value="like">Like</button>
                 <button type="button" class="btn btn-toggle" data-tile="{{ forloop.counter }}" data-value="dislike">Dislike</button>
               </div>
               <input type="hidden" id="feedback-input-{{ forloop.counter }}" name="feedback_{{ forloop.counter }}" value="">
               <input type="hidden" name="category_{{ forloop.counter }}" value="{{ category.name }}">
             </div>
           </div>
           {% endfor %}
    </div>
    {% endif %}
    </br>

    <!-- Tag Input -->
    {% if tags %}
    <div>
        <div style="display: flex; align-items: center;">
          <h4 class="form-label" style="display: inline;">How did you feel? <span class="subtext">(Choose up to 5)</span></h4>
          <p style="text-align: right; margin-left: auto;">Selected Count: <span id="selected-count">0</span></p>
        </div>
    </div>
    <div class="tag-grid">
        
        {% for tag in tags %}
        <button type="button" class="tag-tile btn {% if tag.selected %}selected{% endif %}" data-tag-id="{{ tag.id }}">
            <p>{{ tag.name }}</p>
        </button>
        <input type="hidden" id="tag-input-{{ tag.id }}" name="tag_{{ tag.id }}" value="">
        {% endfor %}
    </div>
    <button id="see-all-button">See All</button>
    {% endif %}
    </br>

    <!-- Blurb Input -->
    <div>
      <h4 class="form-label" style="display: inline;">Blurb <span class="subtext">Any additional thoughts?</span></h4>
      <div class="input-group">
        <textarea name="blurb" class="form-control" id="blurb"></textarea>
      </div>
      <span id="character-count" style="float: right;">0/255</span>
    </div>

    

    <!-- Privacy Input -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="private" name="make_private" id="make_private">
        <label class="form-check-label" for="flexCheckDefault">Private</label>
    </div>
    </br>

    <button type="submit" class="btn btn-secondary" id="submit-button">Submit</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Slider Value Script -->
<script>
    const slider = document.getElementById("final_score");
    const sliderValue = document.getElementById("sliderValue");

    slider.addEventListener("input", function() {
        sliderValue.textContent = slider.value;
    });
</script>

<!-- Blurb Character Counter Script -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const blurbInput = document.getElementById('blurb');
    const characterCount = document.getElementById('character-count');
  
    blurbInput.addEventListener('input', function() {
      const count = blurbInput.value.length;
      characterCount.textContent = count + '/255';
    });
  });
  </script>


<!-- Category Selector Script -->
<script>
$(document).ready(function() {
    $('.btn-toggle').click(function() {
    var tileId = $(this).data('tile');
    var selectedValue = $(this).data('value');
    var isActive = $(this).hasClass('active');
    $('.btn-toggle[data-tile="' + tileId + '"]').removeClass('active');
    if (!isActive) {
        $(this).addClass('active');
        $('#feedback-input-' + tileId).val(selectedValue);
    } else {
        $('#feedback-input-' + tileId).val('');
    }
    });
});
</script>

<!-- Tag Selector Script -->
<script>
    $(document).ready(function() {
  var selectedTags = [];

  // Add click event handler to the tile elements
  $('.tag-tile').click(function() {
    var tagID = $(this).data('tag-id');
    var hiddenInput = $('#tag-input-' + tagID);

    // Check if the tag is already selected
    if (selectedTags.includes(tagID)) {
      // Tag is already selected, remove it from the selectedTags array
      selectedTags = selectedTags.filter(function(id) {
        //$('#tag-input-' + tagID).val('');
        return id !== tagID;
      });
      hiddenInput.val('');
    } else {
      // Tag is not selected, add it to the selectedTags array
      if (selectedTags.length >= 5) {
        // If already selected 5 tags, don't allow selecting more
        return;
      }
      
      selectedTags.push(tagID);
      //$('#tag-input-' + tagID).val(tagID);
      hiddenInput.val(tagID);
    }

    // Update the counter
    var selectedCount = selectedTags.length;
    $('#selected-count').text(selectedCount);

    // Toggle the 'selected' class on the clicked tag tile
    $(this).toggleClass('selected');

    // Uncomment the following line to see the selected tags IDs in the console
    console.log(selectedTags);
  });
});
</script>

{% endblock %}

