.custom-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-heading {
    font-size: 24px;
    margin-top: 20px;
}

.metric {
    text-align: center;
  }
  
  .metric-value {
    font-size: 24px;
    font-weight: bold;
  }
  
  .metric-label {
    font-size: 14px;
    color: #888;
  }
  
