{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
  <!-- Display Genre Recommendations Based on Search History -->
  <h3>@{{ request.user.username }}'s {{ playlist.medium }} For Later Playlist</h3>
    </br>
  <div class="scroll-container">
    {% if playlist_entities %}
    <div class="row">
        {% for entity in playlist_entities %}
          <div class="col-md-3">
            {% include 'playlists/playlist_entity_tile.html' with entity=entity %}
          </div>
          {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
    {% endif %}
  </div>
{% else %}
{% endif %}

{% endblock %}