{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

  <style>
      .header-container {
        display: flex;
        align-items: center;
      }
    
      .header-container h2 {
        margin-left: 10px;
      }
  </style>
    
    <div class="header-container">
      <a href="javascript:history.go(-1)">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-chevron-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
      </a>
      <h3><a href="{% url 'view_profile' user.username %}" style="text-decoration: none;">@{{ user.username }}</a>'s {{ playlist.name }} Playlist</h3>
      </br>
    </div>
  </br>

  

  <div style="margin-top: -5px;">
    <h5 style="display: inline; text-decoration: none; color: inherit; padding-right: 15px;">{{ playlist.number_of_entities }} 
      {% if playlist.number_of_entities == 1 %}
        Movie 
      {% else %}
        Movies
      {% endif %}</h5>

    {% if request.user in playlist.likes.all %}
      <a href=" {% url 'like_playlist' playlist.id %}" style="text-decoration: none; color: inherit;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" style="margin-top: -4px;" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
        </a>
    {% else %}
        <a href=" {% url 'like_playlist' playlist.id %}" style="text-decoration: none; color: inherit;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" style="margin-top: -4px;" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </a>
    {% endif %}
    <h5 style="display: inline; text-decoration: none; color: inherit; padding-right: 15px;">{{ playlist.number_of_likes }}</h5>

    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="margin-top: -5px;" class="bi bi-bookmarks" viewBox="0 0 16 16">
      <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
      <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
    </svg>
    <h5 style="display: inline; text-decoration: none; color: inherit; padding-right: 15px;">{{ playlist.number_of_likes }}</h5>

    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="margin-top: -4px;" class="bi bi-send" viewBox="0 0 16 16">
      <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
    </svg>
    <h5 style="display: inline; text-decoration: none; color: inherit; padding-right: 15px;">{{ playlist.number_of_likes }}</h5>
  </div>
  </br>

  <!-- Display Entities in Playlist -->
    <div class="scroll-container">
      {% if playlist_entities %}
      <div class="row">
          {% for entity in playlist_entities %}
            <div class="col-md-3">
              {% include 'playlists/playlist_entity_tile.html' with entity=entity playlist=playlist %}
            </div>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
              </div><div class="row">
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
      {% endif %}
    </div>
{% else %}
{% endif %}
</br>

{% if playlist.user == request.user %}
    <a href="{% url 'delete_playlist' playlist.id %}" class="btn btn-outline-danger">Delete Playlist</a>
{% endif %}
</br>
</br>
</br>
</br>

{% endblock %}