/* General styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  /* Header styles */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo h1 {
    font-size: 32px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  .search-box {
    display: flex;
  }
  
  .search-box input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-box button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .des1 button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Hero section styles */
  
  .home-section {
    padding: 40px;
  }
  
  .hero-section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .hero-section h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #666;
  }
  
  /* Featured section styles */
  
  .featured-section {
    max-width: 800px;
    margin: 40px auto 0;
  }
  
  .featured-section h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .review-cards {
    display: flex;
    justify-content: space-between;
  }
  
  .review-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    width: calc(33.33% - 20px);
  }
  
  .review-card h4 {
    font-size: 24px;
  }  