{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
  <div>
    <h2>Login</h2>
    <form action="/users/login/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Log In" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </form>
    </div>
    <div class="sign-up">
        <form action="{% url 'register' %}">
            <p>Don't have an account?</p>
          <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>
{% endblock %}