{% extends 'base.html' %}

{% block content %}

<h1 class="profile-heading">User Profile</h1>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'view_profile.css' %}">
<style>
    
</style>
<div class="profile-container">
    <div class="profile-details">
        <p>Welcome, {{ user.username }}!</p>
        <img src="{{ user.profile.profile_image.url }}" width="100" height="100" class="custom-circle">
        <div class="profile-message">
            <p>Bio: {{ user.profile.bio }}</p>
        </div>
    </div>
    <div>
        <body>
            <h2>Reviews</h2>
            {% if user.reviews.exists %}
            <div class="row">
                {% for review in reviews %}
                  <div class="col-md-3">
                    {% include 'reviews/review_tile.html' with review=review %}
                  </div>
                  {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </div><div class="row">
                  {% endif %}
                {% endfor %}
              </div>
            {% else %}
                <h2>No Reviews Available</h2>
            {% endif %}
        </body>
    </div>
</div>
{% endblock %}