{% extends 'base.html' %}

{% block content %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'view_profile.css' %}">

<style>
.metrics-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
}

.metric {
    text-align: center;
}

.metric-value {
  font-size: 24px;
  font-weight: bold;
}

.metric-label {
  font-size: 14px;
  color: #888;
}
</style>

<!-- Profile Introduction -->
{% if request.user.id == user.id %}
    <h1 class="profile-heading">Hiya, @{{ user.username }}!</h1>
{% else %}
    <h1 class="profile-heading">Welcome to @{{ user.username }}'s Profile</h1>
{% endif %}

<!-- Main Profile Details -->
<div class="container-fluid">
        <div class="metrics-container">
            <!-- Display user's profile picture -->
            {% if user.profile.profile_image %}
                <img src="{{ user.profile.profile_image.url }}" width="100" height="100" class="custom-circle">
            {% endif %}

            <!-- Display user's reviewed count -->
            <div class="metric">
                <div class="metric-value">{{ user.profile.reviewed }}</div>
                <div class="metric-label">Reviewed</div>
            </div>

            <!-- Display user's average rating -->
            <div class="metric">
                <div class="metric-value">{{ user.profile.avg_rating }}</div>
                <div class="metric-label">Average Rating</div>
            </div>
        </div>

        <!-- Display user's bio -->
        {% if user.profile.bio %}
            <div class="profile-message">
                <p>Bio: {{ user.profile.bio }}</p>
            </div>
        {% endif %}

        <!-- Check following and followers for testing -->
        <!-- <p>Following:</p>
        {% for following in user.profile.follows.all %}
            <a href="{% url 'view_profile' following %}">
            <p>{{ following }}</p>
            </a>
        {% endfor%}

        <p>Followed by:</p>
        {% for following in user.profile.followed_by.all %}
            <a href="{% url 'view_profile' following %}">
            <p>{{ following }}</p>
            </a>
        {% endfor%} -->

        <!-- Follow / Unfollow links on other user's profiles -->
        {% if request.user.id != user.id %}
            {% if request.user.profile in user.profile.followed_by.all %}
                <!-- Display unfollow button -->
                <div>
                    <a href="{% url 'unfollow' user.id %}" class="btn btn-outline-danger">Unfollow</a>
                </div>
            {% else %}
                <!-- Display follow button -->
                <div>
                    <a href="{% url 'follow' user.id %}" class="btn btn-outline-success">Follow</a>
                </div>
            {% endif%}
        {% endif %}

    <!-- User Playlists -->
    {% if user.playlists.exists %}
        <h1 class="profile-heading">Playlists</h1>
        <div>
            {% for playlist in user.playlists.all %}
                <a href="{% url 'view_playlist' playlist.id %}" class="btn btn-outline-primary">{{ playlist.medium }} Playlist</a>
            {% endfor %}
        </div>
    {% endif %}

    <!-- User Reviews -->
    {% if user.reviews.exists %}
    <div id="reviews-container">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="profile-heading mb-0">Reviews</h1>
                {% if reviews.count > 3 %}
                    <a href="#" id="show-more-button" class="text-secondary" style="text-decoration: none;">Show more</a>
                {% endif %}
            </div>
            <div class="row">
                {% for review in reviews %}
                <div class="col-md-4">
                    <div class="review-tile">
                        {% include 'reviews/review_tile.html' with review=review %}
                    </div>
                </div>
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div><div class="row" style="margin-top: 15px">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    </br>

    <!-- List of Followers-->
    {% if user.profile.follows.exists %}
        <h4>Following</h4>
        <div class="row">
            {% for following in user.profile.follows.all %}
                <div class="col-md-3">
                    {% include 'users/profile_tile.html' with user=following.user %}
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div> 
    {% endif %}
    </br>   

    <!-- Log Out Functionality -->
    {% if request.user.id == user.id %}
        <!-- Display logout button -->
        <div>
            <a href="{% url 'logout' %}" class="btn btn-outline-danger">Log Out</a>
        </div>
    {% endif %}
    
</br>
</br>
</div>

<!-- Review Show More Button Script-->
<script>
    const reviewsContainer = document.getElementById('reviews-container');
    const showMoreButton = document.getElementById('show-more-button');
    const reviews = reviewsContainer.getElementsByClassName('review-tile');
    const numReviewsToShow = 3;

    // Function to toggle visibility of the remaining reviews
    function toggleReviewsVisibility() {
        for (let i = numReviewsToShow; i < reviews.length; i++) {
            reviews[i].style.display = (reviews[i].style.display === 'none') ? 'block' : 'none';
        }

        // Update the "Show more" button text
        showMoreButton.innerText = (showMoreButton.innerText === 'Show more') ? 'Show less' : 'Show more';
    }

    // Hide all reviews except the first 3 initially
    for (let i = numReviewsToShow; i < reviews.length; i++) {
        reviews[i].style.display = 'none';
    }

    // Add event listener to the "Show more" button
    showMoreButton.addEventListener('click', toggleReviewsVisibility);
</script>
{% endblock %}