{% extends 'base.html' %}

{% block content %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'view_profile.css' %}">

<style>
.metrics-container {
    display: table;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
}

.metric {
    text-align: center;
}

.metric-value {
  font-size: 24px;
  font-weight: bold;
}

.metric-label {
  font-size: 14px;
  color: #888;
}

.nav-tabs .nav-link.active {
    color: black;
  }

  .nav-tabs .nav-link:not(.active) {
    color: black;
  }
</style>

<!-- {% if request.user.id == user.id %}
<h1 class="profile-heading">Hiya, @{{ user.username }}</h1>
{% else %}
<h1 class="profile-heading">Welcome to @{{ user.username }}'s Profile</h1>
{% endif %} -->

<!-- Main Profile Details -->
<div class="container-fluid">
        <div class="container text-center">
            <!-- Display user's profile picture -->
            {% if user.profile.profile_image %}
                <img src="{{ user.profile.profile_image.url }}" width="100" height="100" class="custom-circle">
            {% endif %}

            <!-- Username -->
            <h1 class="profile-heading">@{{ user.username }}</h1>

            <div class="d-flex justify-content-center">
                <div class="metrics-container mx-auto">

                    <!-- Display user's reviewed count -->
                    <div class="metric d-inline-block" style="padding-right: 15px; padding-left: 15px;">
                        <div class="metric-value">{{ user.profile.reviewed }}</div>
                        <div class="metric-label">Reviewed</div>
                    </div>
        
                    <!-- Display user's average rating -->
                    <div class="metric d-inline-block" style="padding-right: 15px; padding-left: 15px;">
                        <div class="metric-value">{{ user.profile.avg_rating }}</div>
                        <div class="metric-label">Avg Rating</div>
                    </div>

                    <!-- Display user's seen count -->
                    <div class="metric d-inline-block" style="padding-right: 15px; padding-left: 15px;">
                        <div class="metric-value">{{ user.profile.seen.count }}</div>
                        <div class="metric-label">Seen</div>
                    </div>

                </div>
            </div>

            <!-- Display user's bio -->
            {% if user.profile.bio %}
                <div class="profile-message" style="padding: 10px;">
                    <p>{{ user.profile.bio }}</p>
                </div>
            {% endif %}
        </div>

        <!-- Check following and followers for testing -->
        <!-- <p>Following:</p>
        {% for following in user.profile.follows.all %}
            <a href="{% url 'view_profile' following %}">
            <p>{{ following }}</p>
            </a>
        {% endfor%}

        <p>Followed by:</p>
        {% for following in user.profile.followed_by.all %}
            <a href="{% url 'view_profile' following %}">
            <p>{{ following }}</p>
            </a>
        {% endfor%} -->

        <!-- Follow / Unfollow links on other user's profiles -->
        {% if request.user.id != user.id %}
            <div class="container text-center">
                {% if request.user.profile in user.profile.followed_by.all %}
                    <!-- Display unfollow button -->
                    <div>
                        <a href="{% url 'unfollow' user.id %}" class="btn btn-outline-danger">Unfollow</a>
                    </div>
                {% else %}
                    <!-- Display follow button -->
                    <div>
                        <a href="{% url 'follow' user.id %}" class="btn btn-outline-success">Follow</a>
                    </div>
                {% endif%}
            </div>
        </br>
        {% endif %}

    <!-- Profile Tabs -->
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews-tab-pane" type="button" role="tab" aria-controls="reviews-tab-pane" aria-selected="true">Reviews
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="playlists-tab" data-bs-toggle="tab" data-bs-target="#playlists-tab-pane" type="button" role="tab" aria-controls="playlists-tab-pane" aria-selected="false">Playlists
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                    <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                    <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
                  </svg>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="following-tab" data-bs-toggle="tab" data-bs-target="#following-tab-pane" type="button" role="tab" aria-controls="following-tab-pane" aria-selected="false">Following
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                  </svg>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="notifications-tab" data-bs-toggle="tab" data-bs-target="#notifications-tab-pane" type="button" role="tab" aria-controls="notifications-tab-pane" aria-selected="false">Notifications
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                  </svg>
            </button>
        </li>
    </ul>

    {% if request.user == user or request.user.profile in user.profile.followed_by.all%}
        <div class="tab-content" id="myTabContent">
            <!-- User Reviews -->
            <div class="tab-pane fade show active" id="reviews-tab-pane" role="tabpanel" aria-labelledby="reviews-tab" tabindex="0">
            </br>
                <!-- Show review content -->
                {% if user.reviews.exists %}
                <div id="reviews-container">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- <h1 class="profile-heading mb-0">Reviews</h1> -->
                            <!-- {% if reviews.count > 3 %}
                                <a href="#" id="show-more-button" class="text-secondary" style="text-decoration: none;">Show more</a>
                            {% endif %} -->
                        </div>
                        <div class="row">
                            {% for review in reviews %}
                            <div class="col-md-4">
                                <div class="review-tile">
                                    {% include 'reviews/review_tile.html' with review=review %}
                                </div>
                            </div>
                                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                    </div><div class="row" style="margin-top: 15px">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                    </br>
            </div>

            <!-- User Playlists -->
            <div class="tab-pane fade" id="playlists-tab-pane" role="tabpanel" aria-labelledby="playlists-tab" tabindex="0">
            </br>
                    {% if user.playlists.exists %}
                        <!-- <h1 class="profile-heading">Playlists</h1> -->
                        <div>
                            {% for playlist in user.playlists.all %}
                                <a href="{% url 'view_playlist' playlist.id %}" class="btn btn-outline-primary">{{ playlist.name }}</a>
                                <!-- call tile here!!!!!!! -->
                            {% endfor %}
                        </div>

                        <div class="row">
                            {% for playlist in user.playlists.all %}
                                <div class="col-md-3 mb-4">
                                    <div class="image-grid-card">
                                        <!-- Display the first entity's image -->
                                        {% with first_entity=playlist.entities.all|first %}
                                            {% include 'playlists/playlist_tile.html' with playlist=playlist %}
                                        {% endwith %}
                                        <h5 class="card-text">{{ playlist.name }}</h5>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
            </div>

            <!-- List of Followers-->
            <div class="tab-pane fade" id="following-tab-pane" role="tabpanel" aria-labelledby="following-tab" tabindex="0">
            </br>
                {% if user.profile.follows.exists %}
                <!-- <h4>Following</h4> -->
                <div class="row">
                    {% for following in user.profile.follows.all %}
                        <div class="col-md-3">
                            {% include 'users/profile_tile.html' with user=following.user %}
                        </div>
                        {% if forloop.counter|divisibleby:4 and not forloop.last %}
                            </div><div class="row">
                        {% endif %}
                    {% endfor %}
                </div> 
                {% endif %}
            </div>
        </div>

        <div class="tab-pane fade" id="notifications-tab-pane" role="tabpanel" aria-labelledby="notifications-tab" tabindex="0">Coming Soon...</div>

    {% else %}
        <!-- Display follow message -->
        </br>
        Follow this user to get access to their content.
    {% endif%}

    </br>

    <!-- Log Out Functionality -->
    {% if request.user.id == user.id %}
        <!-- Display logout button -->
        <div>
            <a href="{% url 'logout' %}" class="btn btn-outline-danger">Log Out</a>
        </div>
    {% endif %}
    
</br>
</br>
</div>

<!-- Review Show More Button Script-->
<!-- <script>
    const reviewsContainer = document.getElementById('reviews-container');
    const showMoreButton = document.getElementById('show-more-button');
    const reviews = reviewsContainer.getElementsByClassName('review-tile');
    const numReviewsToShow = 3;

    // Function to toggle visibility of the remaining reviews
    function toggleReviewsVisibility() {
        for (let i = numReviewsToShow; i < reviews.length; i++) {
            reviews[i].style.display = (reviews[i].style.display === 'none') ? 'block' : 'none';
        }

        // Update the "Show more" button text
        showMoreButton.innerText = (showMoreButton.innerText === 'Show more') ? 'Show less' : 'Show more';
    }

    // Hide all reviews except the first 3 initially
    for (let i = numReviewsToShow; i < reviews.length; i++) {
        reviews[i].style.display = 'none';
    }

    // Add event listener to the "Show more" button
    showMoreButton.addEventListener('click', toggleReviewsVisibility);
</script> -->
{% endblock %}